# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=/home/ubuntu/zookeeper_2/data #(node1: zookeeper_1, node2: zookeeper_2...)
# the port at which the clients will connect
clientPort=2182 # each node had its own port (node1: 2181, node2: 2182, node3: 2183)
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
server.1=ip-172-31-58-230.ec2.internal:2891:3881
server.2=ip-172-31-59-64.ec2.internal:2892:3882
server.3=ip-172-31-41-92.ec2.internal:2893:3883

